<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 align="left"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p align="left">{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view">
          <div align="left">
            <h3><a href="/posts/science/index.html">Scientific Life</a></h3>
          </div>
          <div align="left">
            <h3><a href="/posts/art/index.html">Artistic Life</a></h3>
          </div>
          <div align="left">
            <h3><a href="/assets/CV.pdf" target="_blank">CV</a></h3>
          </div>
        </p>
        {% if site.social_badges %}
        <p class="view">
          <div align="left">
            <!-- <h3 >Social Badges</h3> -->
            <a href="{{ site.github.owner_url }}" target="_blank">
              <img src="{{site.github.logo | relative_url}}" width="24" height="24">
            </a>
            <a href="{{ site.twitter.owner_url }}" target="_blank">
              <img src="{{site.twitter.logo | relative_url}}" width="24" height="19">
            </a>
            <a href="{{ site.scholar.owner_url }}" target="_blank">
              <img src="{{site.scholar.logo | relative_url}}" width="24" height="24">
            </a>
            <a href="{{ site.linkedin.owner_url }}" target="_blank">
              <img src="{{site.linkedin.logo | relative_url}}" width="24" height="24">
            </a>
            <a href="{{ site.instagram.owner_url }}" target="_blank">
              <img src="{{site.instagram.logo | relative_url}}" width="24" height="24">
            </a>
          </div>
        </p>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
